<a href="https://colab.research.google.com/github/vivekpenuli/employee-turnover-/blob/master/project_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#step -1
import the required files and package

In [1]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/vivekpenuli/employee-turnover-/master/HR_comma_sep.csv"

In [3]:
df=pd.read_csv(url)

In [4]:
df.head(5)

   satisfaction_level  last_evaluation  ...  Department  salary
0                0.38             0.53  ...       sales     low
1                0.80             0.86  ...       sales  medium
2                0.11             0.88  ...       sales  medium
3                0.72             0.87  ...       sales     low
4                0.37             0.52  ...       sales     low

[5 rows x 10 columns]

#step-2
Data  cleaning<br>
Dataset used here is already clean

In [6]:
df.isnull().any()

satisfaction_level       False
last_evaluation          False
number_project           False
average_montly_hours     False
time_spend_company       False
Work_accident            False
left                     False
promotion_last_5years    False
Department               False
salary                   False
dtype: bool

In [7]:
for col in df.columns:
  print(col, " : ",len(df[col].unique()),'labels')

satisfaction_level  :  92 labels
last_evaluation  :  65 labels
number_project  :  6 labels
average_montly_hours  :  215 labels
time_spend_company  :  8 labels
Work_accident  :  2 labels
left  :  2 labels
promotion_last_5years  :  2 labels
Department  :  10 labels
salary  :  3 labels


#step-3
Dealing with Text-Data<br>
Two types of categorical data<br>
Label Encoding<br>
Ordinal Encoding

In [8]:
df['Department'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: Department, dtype: int64

Applying Label encoding

In [11]:
emp=pd.get_dummies(df,columns=['Department'],drop_first=True)

In [12]:
emp.head(5)

   satisfaction_level  ...  Department_technical
0                0.38  ...                     0
1                0.80  ...                     0
2                0.11  ...                     0
3                0.72  ...                     0
4                0.37  ...                     0

[5 rows x 18 columns]

Move the variable "left" to the back of the table

In [13]:
last=emp['left']
emp.drop(labels=['left'],axis=1,inplace=True)
emp.insert(0,'left',last)
emp.head(5)

   left  satisfaction_level  ...  Department_support  Department_technical
0     1                0.38  ...                   0                     0
1     1                0.80  ...                   0                     0
2     1                0.11  ...                   0                     0
3     1                0.72  ...                   0                     0
4     1                0.37  ...                   0                     0

[5 rows x 18 columns]

Applying ordinal encoding

In [14]:
df['salary'].value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [15]:
order_label={"low":1,"medium":2,"high":3}

In [16]:
emp["salary"]=emp["salary"].map(order_label)

In [17]:
emp.head(5)

   left  satisfaction_level  ...  Department_support  Department_technical
0     1                0.38  ...                   0                     0
1     1                0.80  ...                   0                     0
2     1                0.11  ...                   0                     0
3     1                0.72  ...                   0                     0
4     1                0.37  ...                   0                     0

[5 rows x 18 columns]

In [34]:
emp[emp['salary']==3].head(5)

     left  satisfaction_level  ...  Department_support  Department_technical
72      1                0.45  ...                   0                     0
111     1                0.09  ...                   0                     0
189     1                0.44  ...                   0                     1
267     1                0.45  ...                   0                     1
306     1                0.37  ...                   0                     0

[5 rows x 18 columns]

#step 4
Train test split

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
target_name="left"
X = emp.drop('left', axis=1)
y=emp[target_name]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [37]:
X_train[:5]

      satisfaction_level  ...  Department_technical
9838                1.00  ...                     0
7689                0.16  ...                     1
6557                0.80  ...                     0
6872                0.66  ...                     0
820                 0.11  ...                     1

[5 rows x 17 columns]

In [38]:
y_train[:5]

9838    0
7689    0
6557    0
6872    0
820     1
Name: left, dtype: int64

#step 5
<h3>scalling <br>
normalization our data

In [39]:
from sklearn.preprocessing import MinMaxScaler

In [71]:
scaler=MinMaxScaler()
X_train_a=scaler.fit_transform(X_train)

In [72]:
X_train_a[:5]

array([[1.        , 0.390625  , 0.2       , 0.42990654, 0.25      ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        ],
       [0.07692308, 0.65625   , 0.4       , 0.46728972, 0.375     ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        ],
       [0.78021978, 0.6875    , 0.2       , 0.36915888, 0.        ,
        0.        , 0.        , 0.5       , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.62637363, 0.78125   , 0.4       , 0.07476636, 0.5       ,
        0.        , 0.        , 0.5       , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.02197802, 0.890625  , 1.        , 0.87850467, 0.25      ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        ]])

In [73]:
#X_train_scale_a=pd.DataFrame(X_train_scale,columns=X_train)
X_train_scale=pd.DataFrame(X_train_a,columns=X_train.columns)

In [75]:
X_train_scale.head(5)

   satisfaction_level  ...  Department_technical
0            1.000000  ...                   0.0
1            0.076923  ...                   1.0
2            0.780220  ...                   0.0
3            0.626374  ...                   0.0
4            0.021978  ...                   1.0

[5 rows x 17 columns]